.btn-outline-success {
      color: #141619 !important;
      border-color: #f8f9fa !important;
      background-color: aliceblue !important;
  }
  .Logout {
      background-color: aliceblue !important;
  }