.custom {
      background-color: darkgray;
}
.col{
      padding: 1rem !important;
    }

    .loginbutton{
      float:right;  
      background-color:royalblue;
      color: cornsilk;
    }
    .regbutton{
      float:bottom;      
      background-color:royalblue;
      color: cornsilk;
    }
    .regtext{
      margin: 2rem 0rem 0rem 0rem;
    
    }
    .colusername label{
      margin: 0rem 1rem 0rem 0rem !important;
      padding:1rem;
    }
    